<div class="container mt-3">
    <div id="form-container" class="row">
        <div class="col">
            <form (ngSubmit)="searchByName(searchForm)" #searchForm="ngForm" id="filter-form"
                class="row">
                <div class="col">
                    <input type="text" name="propName" ngModel class="form-control" id="exampleFormControlInput1" placeholder="Search By Name">
                </div>
                <div class="col">
                    <button type="submit" name="search" id="search-btn" class="btn">
                        SEARCH
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" id="feat-box">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <img src="{{propertyService.properties[0].images[0].imageurl}}" alt="img" class="img-fluid">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <a routerLink="/property/{{propertyService.properties[0].id}}">
                                        <h5 class="card-title">{{propertyService.properties[0].name}}</h5>
                                    </a>
                                    <h6>
                                        <span>
                                            <img src="../../assets/Rounded.png" alt="arrow" class="img-fluid">
                                        </span>
                                        {{propertyService.properties[0].address.line1 + " " + propertyService.properties[0].address.line2}}
                                    </h6>
                                    <p class="card-price">
                                        {{propertyService.properties[0].price}}
                                    </p>

                                    <div class="row">
                                        <div class="col aminities">
                                            <div class="mb-5">
                                                <span class="me-3">
                                                    <img src="../../assets/newimglisting/Icon awesome-shower.png" alt="arrow" class="img-fluid" style="height: 20px;"/>
                                                </span>
                                                Finished Baths
                                            </div>
                                            <div class="mb-5">
                                                <span class="me-3">
                                                    <img src="../../assets/newimglisting/Icon ionic-ios-bed.png" alt="arrow" class="img-fluid" style="height: 20px;"/>
                                                </span>
                                                Spacious Bedrooms
                                            </div>
                                            <div class="mb-5">
                                                <span class="me-3">
                                                    <img src="../../assets/newimglisting/Icon ionic-md-tv.png" alt="arrow" class="img-fluid" style="height: 20px;"/>
                                                </span>
                                                Luxurious Livings
                                            </div>
                                            <div class="mb-5">
                                                <span class="me-3">
                                                    <img src="../../assets/newimglisting/Icon awesome-parking.png" alt="arrow" class="img-fluid" style="height: 20px;"/>
                                                </span>
                                                Parking Space
                                            </div>
                                            <div class="mb-5">
                                                <span class="me-3">
                                                    <img src="../../assets/newimglisting/Icon map-park.png" alt="arrow" class="img-fluid" style="height: 20px;"/>
                                                </span>
                                                Play Area
                                            </div>
                                            <div class="mb-5">
                                                <span class="me-3">
                                                    <img src="../../assets/newimglisting/Icon map-tennis.png" alt="arrow" class="img-fluid" style="height: 20px;"/>
                                                </span>
                                                Tennis Court
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <span *ngFor="let star of stars.slice(0,propertyService.properties[0].avgRating), let i = index" [class] = "star"></span>
                                        </div>
                                        <div class="col">
                                            <button class="btn" type="button" routerLink="/wishlist/{{auth.currentUser.userId}}">
                                                WISHLIST
                                            </button>
                                            <button class="btn" type="button" routerLink="/bookings/{{auth.currentUser.userId}}">
                                                BUY NOW
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col" *ngFor="let property of propertyService.properties.slice(1)">
            <div class="card">
                <img src="{{property.images[0].imageurl}}" class="card" alt="buildingimg" />
                <div class="card-body">
                    <div>
                        <a class="cardAminity" routerLink="/property/{{propertyService.properties[0].id}}">
                            <h5 class="card-title">{{propertyService.properties[0].name}}</h5>
                        </a>
                        <h6 class="featuredes">
                            <span>
                                <img src="../../assets/Rounded.png" alt="arrow" class="img-fluid" style="height: 15px;">
                            </span>
                            {{property.address.line1 + " " + property.address.line2}}</h6>
                        <h4 class="cardAminity">
                            {{property.price}}
                        </h4>
                        <button type="button" routerLink="/bookings" class="btn">
                            BUY NOW
                            <span>
                                <img src="../../assets/rightarrow.png" alt="arrow" class="img-fluid" style="height: 20px" />
                            </span>
                        </button>
                    </div>
                    <div>
                        <h5 class="aminities">
                            <span class="px-3">
                                <img src="../../assets/newimglisting/Icon awesome-shower.png" alt="arrow" class="img-fluid" style="height: 15px" />
                            </span>
                            Finished Baths
                        </h5>
                        <h5 class="aminities">
                            <span class="px-3">
                                <img src="../../assets/newimglisting/Icon ionic-ios-bed.png" alt="arrow" class="img-fluid" style="height: 15px" />
                            </span>
                            Spacious Bedrooms
                        </h5>
                        <h5 class="aminities">
                            <span class="px-3">
                                <img src="../../assets/newimglisting/Icon ionic-md-tv.png" alt="arrow" class="img-fluid" style="height: 15px" />
                            </span>
                            Luxuries Livings
                        </h5>
                        <div>
                            <span *ngFor="let star of stars.slice(0,property.avgRating), let i=index" [class]="star">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>