<body>
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>PROPERTIES</h3>
            <p class="footer-links">
                <a href="#" class="link">Rent</a>
                |
                <a href="#" class="link">Buy</a>
                |
                <a href="#" class="link">Rent an Apartment</a>
            </p>
            
        </div>
        <div class="footer-left">
            <h3>ABOUT</h3>
            <p class="footer-links">
                <a href="#" class="link">COMPANY</a>
                |
                <a href="#" class="link">REVIEWS</a>
                |
                <a href="#" class="link">LOCATE US</a>
            </p>
        </div>
        <div>
            <p class="footer-company-name">Property Listing Pvt. ltd.</p>
        </div>

    </footer>
</body>