<body>
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>PROPERTIES</h3>
            <p class="footer-links">
                <a href="#">Rent</a>
                |
                <a href="#">Buy</a>
                |
                <a href="#">Rent an Apartment</a>
            </p>
            
        </div>
        <div class="footer-left">
            <h3>ABOUT</h3>
            <p class="footer-links">
                <a href="#">COMPANY</a>
                |
                <a href="#">REVIEWS</a>
                |
                <a href="#">LOCATE US</a>
            </p>
        </div>
        <div>
            <p class="footer-company-name">Property Listing Pvt. ltd.</p>
        </div>

    </footer>
</body>