<div class="container">
    <div class="card">
        <div class="row">
            <div class="col">
                <img src="../../assets/photoBuilding.png" alt="buildingimg" class="img-fluid" style="height: 40vh;">
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="cardtitledes">Harrison Apartments</h5>
                    <h6 class="featuredes">
                        <span><img src="../../assets/Rounded.png" alt="arrow" class="img-fluid" style="height: 20px;"></span>
                        Bandra,West,Mumbai
                    </h6>

                    <div>
                        <div>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-shower.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Finished Baths
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-ios-bed.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Spacious Bedrooms
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-md-tv.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Luxurious Livings
                            </h5>
                        </div>
                        <div class="aminities">
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-parking.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Parking Space
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-park.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Play Area
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-tennis.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Tennis Court
                            </h5>
                        </div>
                    </div>
                    <div>
                        <a href="#" type="button" class="btn">
                            REMOVE
                            <span><img src="../../assets/removeicon.png" alt="arrow" class="img-fluid"/></span>
                        </a>
                        <a href="#" type="button" class="btn">
                            ADD TO CART
                            <span><img src="../../assets/newimglisting/Icon ionic-ios-cart.png" alt="arrow" class="img-fluid"/></span>
                        </a>
                    </div>
                    <div>
                        <h5 class="cardtitledes">RS. 1,50,000/-</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row g-0">
            <div class="col">
                <img src="../../assets/wishlistbuilding1.png" alt="buildingimg" class="img-fluid" style="height: 40vh;">
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="cardtitledes">Rainbow Apartments</h5>
                    <h6 class="featuredes">
                        <span><img src="../../assets/Rounded.png" alt="arrow" class="img-fluid" style="height: 20px;"></span>
                        Bandra,West,Mumbai
                    </h6>

                    <div>
                        <div>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-shower.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Finished Baths
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-ios-bed.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Spacious Bedrooms
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-md-tv.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Luxurious Livings
                            </h5>
                        </div>
                        <div class="aminities">
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-parking.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Parking Space
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-park.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Play Area
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-tennis.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Tennis Court
                            </h5>
                        </div>
                    </div>
                    <div>
                        <a href="#" type="button" class="btn">
                            REMOVE
                            <span><img src="../../assets/removeicon.png" alt="arrow" class="img-fluid"/></span>
                        </a>
                        <a href="#" type="button" class="btn">
                            ADD TO CART
                            <span><img src="../../assets/newimglisting/Icon ionic-ios-cart.png" alt="arrow" class="img-fluid"/></span>
                        </a>
                    </div>
                    <div>
                        <h5 class="cardtitledes">RS. 1,50,000/-</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row g-0">
            <div class="col">
                <img src="../../assets/heroimg.png" alt="buildingimg" class="img-fluid" style="height: 40vh;">
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="cardtitledes">Rainbow Apartments</h5>
                    <h6 class="featuredes">
                        <span><img src="../../assets/Rounded.png" alt="arrow" class="img-fluid" style="height: 20px;"></span>
                        Bandra,West,Mumbai
                    </h6>

                    <div>
                        <div>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-shower.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Finished Baths
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-ios-bed.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Spacious Bedrooms
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-md-tv.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Luxurious Livings
                            </h5>
                        </div>
                        <div class="aminities">
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-parking.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Parking Space
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-park.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Play Area
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-tennis.png" alt="arrow" class="img-fluid"/>
                                </span>
                                Tennis Court
                            </h5>
                        </div>
                    </div>
                    <div>
                        <a href="#" type="button" class="btn">
                            REMOVE
                            <span><img src="../../assets/removeicon.png" alt="arrow" class="img-fluid"/></span>
                        </a>
                        <a href="#" type="button" class="btn">
                            ADD TO CART
                            <span><img src="../../assets/newimglisting/Icon ionic-ios-cart.png" alt="arrow" class="img-fluid"/></span>
                        </a>
                    </div>
                    <div>
                        <h5 class="cardtitledes">RS. 1,50,000/-</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a href="#" type="button" class="btn">
            <span><img src="../../assets/leftarrow.png" alt="arrow" class="img-fluid">
            </span>
            CONTINUE SHOPPING
        </a>
        <a href="#" type="button" class="btn">
            VIEW CART
            <span><img src="../../assets/newimglisting/Icon ionic-ios-cart.png" alt=""></span>
        </a>
    </div>  
</div>