<div class="container">
    <div class="card">
        <div class="row">
            <div class="col">
                <img src="../../assets/photoBuilding.png" alt="buildingimg" class="img-fluid" style="height: 30vh;"/>
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="cardtitledes">
                        Harrison Apartments
                    </h5>
                    <h6 class="featuredes">
                        <span>
                            <img src="../../assets/Rounded.png" style="height: 20px;">
                        </span>
                        Bandra, West, Mumbai
                    </h6>
                    <div>
                        <div>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-shower.png" alt="arrow" style="height: 15px;"/>
                                </span>
                                Finished Baths
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-ios-bed.png" alt="arrow" style="height: 15px;"/>
                                </span>
                                Spacious Bedrooms
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-md-tv.png" alt="arrow" style="height: 15px;"/>
                                </span>
                                Luxurious Livings
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-parking.png" alt="arrow" style="height: 15px;"/>
                                </span>
                                Ample Parking Space
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-park.png" alt="arrow" style="height: 15px;"/>
                                </span>
                                Play Area
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-tennis.png" alt="arrow" style="height: 15px;"/>
                                </span>
                                Tennis Court
                            </h5>
                        </div>
                    </div>
                    <div>
                        <a href="#" type="button" class="btn">
                            REMOVE
                            <span>
                                <img src="../../assets/removeicon.png" class="img-fluid">
                            </span>
                        </a>
                        <a href="#" type="button" class="btn">
                            ADD TO CART
                            <span>
                                <img src="../../assets/newimglisting/Icon ionic-ios-cart.png" alt="arrow" class="img-fluid">
                            </span>
                        </a>
                    </div>

                    <div>
                        <h5 class="cardtitledes">RS. 1,50,000/-</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col">
                <img src="../../assets/photoBuilding.png" alt="buildingimg" class="img-fluid" style="height: 30vh;"/>
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="cardtitledes">
                        Rainbow Apartments
                    </h5>
                    <h6 class="featuredes">
                        <span>
                            <img src="../../assets/Rounded.png" style="height: 20px;">
                        </span>
                        Bandra, West, Mumbai
                    </h6>
                    <div>
                        <div>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-shower.png" alt="arrow" style="height: 15px;"/>
                                </span>
                                Finished Baths
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-ios-bed.png" alt="arrow" style="height: 15px;"/>
                                </span>
                                Spacious Bedrooms
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon ionic-md-tv.png" alt="arrow" style="height: 15px;"/>
                                </span>
                                Luxurious Livings
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon awesome-parking.png" alt="arrow" style="height: 15px;"/>
                                </span>
                                Ample Parking Space
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-park.png" alt="arrow" style="height: 15px;"/>
                                </span>
                                Play Area
                            </h5>
                            <h5 class="aminities">
                                <span class="me-4">
                                    <img src="../../assets/newimglisting/Icon map-tennis.png" alt="arrow" style="height: 15px;"/>
                                </span>
                                Tennis Court
                            </h5>
                        </div>
                    </div>
                    <div>
                        <a href="#" type="button" class="btn">
                            REMOVE
                            <span>
                                <img src="../../assets/removeicon.png" class="img-fluid">
                            </span>
                        </a>
                        <a href="#" type="button" class="btn">
                            ADD TO CART
                            <span>
                                <img src="../../assets/newimglisting/Icon ionic-ios-cart.png" alt="arrow" class="img-fluid">
                            </span>
                        </a>
                    </div>

                    <div>
                        <h5 class="cardtitledes">RS. 1,50,000/-</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="me-5">
            <h5 class="billdes">SUBTOTAL -->
                <span class="me-2">
                    Rs. 3,00,000/-
                </span>
            </h5>
            <h5 class="billdes">TAX -->
                <span class="me-2">
                    Rs. 1,00,000/-
                </span>
            </h5>
            <h5 class="billdesgt">GRAND TOTAL -->
                <span class="me-2">
                    Rs. 4,00,000/-
                </span>
            </h5>
        </div>
    </div>
    <div>
        <a href="#" type="button" class="btn">
            <span>
                <img src="../../assets/leftarrow.png" alt="arrow">
            </span>
            CONTINUE SHOPPING
        </a>
        <a href="#" type="button" class="btn">
            <span>
                <img src="../../assets/newimglisting/Icon ionic-ios-cart.png" alt="arrow">
            </span>
            VIEW CART
        </a>
    </div>
</div>