<body>
    <nav class="navbar">
        <div class="properties">Property Listing</div>
        <ul class="nav-links">
            <div class="menu">
            <li><a href="#">LOCATION</a></li>
            <li><a href="#">BUY</a></li>
            <li><a href="#">RENT</a></li>
            <li class="services"><a href="#">ACCOUNT</a>
                <ul class="dropdown">
                    <li><a href="../signin">SIGN-IN</a></li>
                    <li><a href="../signup">SIGN-UP</a></li>
                </ul>
            </li>
            <li class="services"><a href="#">SERVICES</a>
                <ul class="dropdown">
                    <li><a href="/wishlist">WISHLIST</a></li>
                    <li><a href="/bookings">BOOKINGS</a></li>
                    <li><a href="../signin">LOGOUT</a></li>
                </ul>
            </li>
            </div>
        </ul>
    </nav>
</body>