<body>
    <nav class="navbar">
        <div class="properties">Property Listing</div>
        <ul class="nav-links">
            <div class="menu">
            <li><a href="#">LOCATION</a></li>
            <li><a href="#">BUY</a></li>
            <li><a href="#">RENT</a></li>
            <li class="services"><a href="#">ACCOUNT</a>
                <ul class="dropdown">
                    <li><a href="#">SIGN-IN</a></li>
                    <li><a href="#">SIGN-UP</a></li>
                </ul>
            </li>
            <li class="services"><a href="#">SERVICES</a>
                <ul class="dropdown">
                    <li><a href="#">WISHLIST</a></li>
                    <li><a href="#">BOOKINGS</a></li>
                    <li><a href="#">LOGOUT</a></li>
                </ul>
            </li>
            </div>
        </ul>
    </nav>
</body>