#feat-head {
    background-color: #e0ebed;
  }
  
  .heading-big {
    color: #016450;
    font-size: 2rem;
    letter-spacing: 5px;
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
    line-height: 2rem;
  }
  
  #filter-form {
    background-color: #ffffff;
    border-radius: 15px;
  }
  
  #search-btn {
    background-color: #016450;
    color: #ffffff;
  }