form {
    padding: 10px 0 0 0;
}

form .col input {
    border-radius: 20px;
    border-color: rgba(50, 9, 73, 0.76);
}

form .col .btn {
    background-color: darkcyan;
    border-radius: 20px;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.3s;
}

.container .justify .aminities {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container .justify .aminities .shower{
    padding: 0 0 10px 0;
}

.container .justify .aminities .bed{
    padding: 0 0 10px 0;
}

.container .justify .aminities .living{
    padding: 0 0 10px 0;
}

.container .justify .aminities .park{
    padding: 0 0 10px 0;
}

.container .justify .aminities .play{
    padding: 0 0 10px 0;
}

.container .justify .aminities .tennis{
    padding: 0 0 10px 0;
}

.container .justify .aminities .col .row .col .enter .btn{
    background-color: darkcyan;
    border-radius: 20px;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.3s;
}

.row .col .card .row .col .col .card-body .row .col .row .enter{
    background-color: darkcyan;
}