*{
  margin: 3px;
  padding: 0;
  place-items: center;
  box-sizing: border-box;
  background-color: rgb(118, 137, 146);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
}

::selection{
  background: #fff;
  color: #fff;
}
.container{
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.title{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;

}

form{
  padding: 10px 30px 60px 30px;
}

form .form-group{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

form .form-group input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  padding-left: 20px;
  border: 1px solid lightgray;
  border-radius: 25px;
  transition: all 0.3s ease;
}

form .form-group input:focus,
form .form-group input:valid{
  border-color: #362a2a62;
}

form .form-group label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 16px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

form .form-group input:focus ~ label,
form .form-group input:valid ~ label{
  top: 0%;
  font-size: 15px;
  color: #fff;
  background: rgb(131, 107, 107);
  transform: translateY(-50%);
}

form .form-group input[type="submit"] {
  color:black;
  border: none;
  padding-left: 0;
  margin-top: -1px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  background: #fff;
  transition: all 0.3s ease;
}

form .signin-link {
  color: #fff;
  text-align: center;
}

form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}